In [2]:
#  this program reads in the ghcd_station file
#  breaks it up into rows/fields
#  selects only the useful rows
#  then writes it back out as a csv

import csv
import pandas as pd

inputtext = "../../data/rawdata/stations.txt"

with open(inputtext, "r") as text:
    contents = text.read()

In [3]:
# break up the file contents into recognizeable records
begin = 0
end   = 86
lines = []

while begin < len(contents):
    lines.append(contents[begin: end])
    begin += 86
    end   += 86

    
print(lines[42])
print(len(lines))

AGM00060403  36.4670    7.4670  228.0    GUELMA                                 60403

108081

In [8]:
# now, break up the lines into fields, with which we will form a dataframe

ID = []
Latitude = []
Longitude = []
Elevation = []
State = []
Name = []

for line in lines:
    if line[0:2] == "US":        # We want only US stations
        ID.append(line[0:11])
        Latitude.append(line[12:20])
        Longitude.append(line[21:30])
        Elevation.append(line[31:37])
        State.append(line[38:40])
        Name.append(line[41:71])
        
xxx = {"ID": ID,
      "Latitude": Latitude,
      "Longitude": Longitude,
      "Elevation": Elevation,
      "State": State,
      "Name": Name}

Stations_df = pd.DataFrame(xxx)
Stations_df.head()

,ID,Latitude,Longitude,Elevation,State,Name
0,US009052008,43.7333,-96.6333,482.0,SD,SIOUX FALLS (ENVIRON. CANADA)
1,US10RMHS145,40.5268,-105.1113,1569.1,CO,RMHS 1.6 SSW
2,US10adam001,40.5680,-98.5069,598.0,NE,JUNIATA 1.5 S
3,US10adam002,40.5093,-98.5493,601.1,NE,JUNIATA 6.0 SSW
4,US10adam003,40.4663,-98.6537,615.1,NE,HOLSTEIN 0.1 NW

In [11]:
# now it can be written out for later use
outfile = "../../data/cleandata/Stations.csv"
export_csv = Stations_df.to_csv(outfile, index=False, header=True)