# Ideal Location for Alternative Energy

## Preparing Data

In [1]:
import pandas as pd
import numpy as np

In [7]:
# Import weather data file
path_weather = "data/cleandata/weatherdata_v2.csv"
data_weather = pd.read_csv(path)
data_weather.head()

            ID  Year  Month Element  Avg Value
0  USC00050109  2011      1    AWND  41.193548
1  USC00050109  2011      2    AWND  42.250000
2  USC00050109  2011      3    AWND  40.548387
3  USC00050109  2011      4    AWND  47.533333
4  USC00050109  2011      5    AWND  48.838710

In [8]:
# Import stations list for lat and long
path_station = "data/cleandata/Stations.csv"
data_station = pd.read_csv(path_station)
data_station.head()

,ID,Latitude,Longitude,Elevation,State,Name
0,US009052008,43.7333,-96.6333,482.0,SD,SIOUX FALLS (ENVIRON. CANADA)
1,US10RMHS145,40.5268,-105.1113,1569.1,CO,RMHS 1.6 SSW
2,US10adam001,40.5680,-98.5069,598.0,NE,JUNIATA 1.5 S
3,US10adam002,40.5093,-98.5493,601.1,NE,JUNIATA 6.0 SSW
4,US10adam003,40.4663,-98.6537,615.1,NE,HOLSTEIN 0.1 NW

In [56]:
#Merge both data frames
data = pd.merge(data_weather, data_station, on="ID",how='inner')
data = data.rename(columns={'Avg Value':'Avg Monthly Value'})
data.head()

,ID,Year,Month,Element,Avg Monthly Value,Latitude,Longitude,Elevation,State,Name
0,USC00050109,2011,1,AWND,41.193548,40.155,-103.1417,1384.4,CO,AKRON 4 E
1,USC00050109,2011,2,AWND,42.250000,40.155,-103.1417,1384.4,CO,AKRON 4 E
2,USC00050109,2011,3,AWND,40.548387,40.155,-103.1417,1384.4,CO,AKRON 4 E
3,USC00050109,2011,4,AWND,47.533333,40.155,-103.1417,1384.4,CO,AKRON 4 E
4,USC00050109,2011,5,AWND,48.838710,40.155,-103.1417,1384.4,CO,AKRON 4 E

In [39]:
# Add 'Month Counts' column to determine how many months of data each station has.
data['Month Counts'] = data.groupby(['ID'])['Month'].transform('count')
data.head()

,ID,Year,Month,Element,Avg Value,Latitude,Longitude,Elevation,State,Name,Month Counts
0,USC00050109,2011,1,AWND,41.193548,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
1,USC00050109,2011,2,AWND,42.250000,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
2,USC00050109,2011,3,AWND,40.548387,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
3,USC00050109,2011,4,AWND,47.533333,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
4,USC00050109,2011,5,AWND,48.838710,40.155,-103.1417,1384.4,CO,AKRON 4 E,16

In [54]:
# Only keep stations with at least 12 months of data.
data = data[data['Month Counts']>=12]

In [55]:
# Calculate average number for each element for each station

## Calculate Wind Score

In [30]:
# AWND: Average daily wind speed (tenths of meters per second)
# PSUN: Daily percent of possible sunshine (percent)
# ACMH: Average cloudiness midnight to midnight from manual observations (percent)
# ACSH: Average cloudiness sunrise to sunset from manual observations (percent)
# ACMC: Average cloudiness midnight to midnight from 30-second ceilometer data (percent)
# ACSC: Average cloudiness sunrise to sunset from 30-second ceilometer data (percent)
data['Element'].unique()

array(['AWND', 'PSUN', 'ACMH', 'ACSH', 'ACMC', 'ACSC'], dtype=object)