# Ideal Location for Alternative Energy

## Preparing Data

In [6]:
import pandas as pd
import numpy as np
import gmaps


# Google developer API key
from gkey import gkey

In [7]:
# Import weather data file
path_weather = "weatherdata_v2.csv"
data_weather = pd.read_csv(path_weather)
data_weather.head()

            ID  Year  Month Element  Avg Value
0  USC00050109  2011      1    AWND  41.193548
1  USC00050109  2011      2    AWND  42.250000
2  USC00050109  2011      3    AWND  40.548387
3  USC00050109  2011      4    AWND  47.533333
4  USC00050109  2011      5    AWND  48.838710

In [8]:
len(data_weather['ID'].unique())

1082

In [9]:
# Import stations list for lat and long
path_station = "Stations.csv"
data_station = pd.read_csv(path_station)
data_station.head()

,ID,Latitude,Longitude,Elevation,State,Name
0,US009052008,43.7333,-96.6333,482.0,SD,SIOUX FALLS (ENVIRON. CANADA)
1,US10RMHS145,40.5268,-105.1113,1569.1,CO,RMHS 1.6 SSW
2,US10adam001,40.5680,-98.5069,598.0,NE,JUNIATA 1.5 S
3,US10adam002,40.5093,-98.5493,601.1,NE,JUNIATA 6.0 SSW
4,US10adam003,40.4663,-98.6537,615.1,NE,HOLSTEIN 0.1 NW

In [10]:
data_station.shape

(59930, 6)

In [11]:
#Merge both data frames
data = pd.merge(data_weather, data_station, on="ID",how='inner')
data = data.rename(columns={'Avg Value':'Avg Monthly Value'})
data.head()

,ID,Year,Month,Element,Avg Monthly Value,Latitude,Longitude,Elevation,State,Name
0,USC00050109,2011,1,AWND,41.193548,40.155,-103.1417,1384.4,CO,AKRON 4 E
1,USC00050109,2011,2,AWND,42.250000,40.155,-103.1417,1384.4,CO,AKRON 4 E
2,USC00050109,2011,3,AWND,40.548387,40.155,-103.1417,1384.4,CO,AKRON 4 E
3,USC00050109,2011,4,AWND,47.533333,40.155,-103.1417,1384.4,CO,AKRON 4 E
4,USC00050109,2011,5,AWND,48.838710,40.155,-103.1417,1384.4,CO,AKRON 4 E

In [12]:
# Add 'Month Counts' column to determine how many months of data each station has.

data['Month Counts'] = data.groupby(['ID'])['Month'].transform('count')
data.head()

,ID,Year,Month,Element,Avg Monthly Value,Latitude,Longitude,Elevation,State,Name,Month Counts
0,USC00050109,2011,1,AWND,41.193548,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
1,USC00050109,2011,2,AWND,42.250000,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
2,USC00050109,2011,3,AWND,40.548387,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
3,USC00050109,2011,4,AWND,47.533333,40.155,-103.1417,1384.4,CO,AKRON 4 E,16
4,USC00050109,2011,5,AWND,48.838710,40.155,-103.1417,1384.4,CO,AKRON 4 E,16

In [13]:
# Only keep stations with at least 12 months of data.
data = data[data['Month Counts']>=12]
len(data['ID'].unique())

1054

In [14]:
# Calculate average number for each element for each station
# should I groupby year
data_group = data.groupby(['ID', 'Element']).mean()[['Avg Monthly Value', 'Latitude', 'Longitude', 'Elevation']]
data_group = data_group.rename(columns={'Avg Monthly Value': 'Value'})

In [15]:
# Convert df to dataframe
df = data_group.reset_index()
df.head()

            ID Element      Value  Latitude  Longitude  Elevation
0  USC00050109    AWND  47.200534   40.1550  -103.1417     1384.4
1  USC00051996    AWND  21.682163   40.8600  -102.8031     1130.5
2  USC00052947    AWND  40.141416   40.6483  -102.8594     1297.2
3  USC00053005    AWND  15.373269   40.5764  -105.0858     1525.2
4  USC00053261    AWND  44.030606   39.7053  -105.6997     2596.9

## Find locations with optimal wind speed

In [16]:
# AWND: Average daily wind speed (tenths of meters per second)
# PSUN: Daily percent of possible sunshine (percent)
# ACMH: Average cloudiness midnight to midnight from manual observations (percent)
# ACSH: Average cloudiness sunrise to sunset from manual observations (percent)
# ACMC: Average cloudiness midnight to midnight from 30-second ceilometer data (percent)
# ACSC: Average cloudiness sunrise to sunset from 30-second ceilometer data (percent)
data['Element'].unique()

array(['AWND', 'PSUN', 'ACMH', 'ACSH', 'ACMC', 'ACSC'], dtype=object)

In [18]:
# Cut in speed is 3.5 m/s, the typical cut-in speed, when a small turbine starts generating power.
# Convert wind speed to tenths of m/s
cut_in_wind = 35

# Locations that wind can generate power.
suitable_winds = df.loc[(df['Element']=='AWND') & (df['Value']>= cut_in_wind),:]
suitable_winds.describe()

            Value    Latitude   Longitude    Elevation
count  449.000000  449.000000  449.000000   449.000000
mean    43.963933   39.916689  -99.167419   487.230735
std     11.209840    7.956981   19.867382   541.370030
min     35.080982   19.760000 -176.650000     1.200000
25%     38.378428   35.388900 -104.688300    95.100000
50%     41.924313   40.316100  -97.101900   283.500000
75%     46.816117   43.020600  -86.650000   695.900000
max    190.583333   71.283300  -68.017200  2596.900000

In [298]:
suitable_winds.shape

(449, 6)

In [ ]:
suitable_winds.to_csv("suitable_winds.csv",index=False)

In [299]:
# Optimal wind speed: 10–15 m/s, 36–54 kph (10–15 m/s) produces maximum generation power.
# Convert wind speed to tenths of m/s
optimal_wind = 100

# Locations with optimal wind to generate power.
optimal_winds = df.loc[(df['Element']=='AWND') & (df['Value']>= optimal_wind),:]
optimal_winds

              ID Element       Value  Latitude  Longitude  Elevation
733  USW00014755    AWND  162.276405   44.2667   -71.2994     1910.2
744  USW00014761    AWND  190.583333   40.9167   -78.0667      592.8

## Map Location to Google Map

In [300]:
# Configure gmaps with API key
gmaps.configure(api_key='AIzaSyBGwwR812oI48dwbcXfv8v3f0S7A32u0a0')

In [301]:
locations = suitable_winds[['Latitude','Longitude']].astype(float)
wind_speed = suitable_winds['Value'].astype(float)
wind_speed.min()

35.0809821982791

In [302]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
heat_layer.dissipating = False
heat_layer.max_intensity = 200
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [303]:
suitable_winds.head()

             ID Element      Value  Latitude  Longitude  Elevation
0   USC00050109    AWND  47.200534   40.1550  -103.1417     1384.4
2   USC00052947    AWND  40.141416   40.6483  -102.8594     1297.2
4   USC00053261    AWND  44.030606   39.7053  -105.6997     2596.9
7   USC00116344    AWND  36.978536   40.1100   -87.9567      205.7
12  USC00185934    AWND  42.654162   39.7194   -76.8028      262.1

In [304]:
suitable_winds.shape

(449, 6)

In [1]:
import matplotlib.pyplot as plt
plt.scatter(suitable_winds['Elevation'],suitable_winds['Value'])
plt.grid()
plt.title("WindSpeed Vs. Elevation")
plt.xlable('Elevation')
plt.ylable("windSpeed")

NameError: name 'suitable_winds' is not defined

In [306]:
import requests
import json
suitable_winds['County']=""
suitable_winds['Zipcode']=""
suitable_winds['City']=""
suitable_winds['State']=""
suitable_winds['Population']=""

C:\Users\fawnz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\fawnz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\fawnz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\fawnz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\fawnz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [307]:
suitable_winds.head()

,ID,Element,Value,Latitude,Longitude,Elevation,County,Zipcode,City,State,Population
0,USC00050109,AWND,47.200534,40.1550,-103.1417,1384.4,,,,,
2,USC00052947,AWND,40.141416,40.6483,-102.8594,1297.2,,,,,
4,USC00053261,AWND,44.030606,39.7053,-105.6997,2596.9,,,,,
7,USC00116344,AWND,36.978536,40.1100,-87.9567,205.7,,,,,
12,USC00185934,AWND,42.654162,39.7194,-76.8028,262.1,,,,,

In [308]:
params = {"key": "AIzaSyAdW6MTjHmPxq16G8XEMUe6i8o8S4VgL-o"}

# Loop through the cities_pd and run a lat/long search for each city

for index, row in suitable_winds.iterrows():
    latlng = f"{row['Latitude']},{row['Longitude']}"
    url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+latlng + "&sensor=false"
    # make request
    try:
        response = requests.get(url, params=params)
        suitable_winds_lat_lng = response.json()
        location = list(suitable_winds_lat_lng['results'][0].values())[0]
           
    except:
        print("I cann't find the county name corresponding to the latitude and longitude " + latlng)
        
    else: 
        for i in location:
            if i['types']==['postal_code']:
                suitable_winds.loc[index,'Zipcode']= i['long_name']
            elif i['types']==['administrative_area_level_2', 'political']:
                suitable_winds.loc[index,'County']= i['long_name']
            elif i['types']== ['administrative_area_level_1', 'political']:
                suitable_winds.loc[index,'State']= i['short_name']
            elif  i['types']== ['locality', 'political']:
                suitable_winds.loc[index,'City']= i['long_name']

I cann't find the county name corresponding to the latitude and longitude 27.653100000000176,-80.2428

In [317]:
# Delete the row
suitable_winds = suitable_winds[(suitable_winds['Latitude']!=27.653100000000176) & (suitable_winds['Longitude']!=-80.2428)]
len(suitable_winds)

448

In [320]:

suitable_winds.to_csv("suitable_winds_2.csv",index = False)
                      
suitable_winds.head()

,ID,Element,Value,Latitude,Longitude,Elevation,County,Zipcode,City,State,Population
0,USC00050109,AWND,47.200534,40.1550,-103.1417,1384.4,Washington County,80720,Akron,CO,
2,USC00052947,AWND,40.141416,40.6483,-102.8594,1297.2,Logan County,80728,Fleming,CO,
4,USC00053261,AWND,44.030606,39.7053,-105.6997,2596.9,Clear Creek County,80444,Georgetown,CO,
7,USC00116344,AWND,36.978536,40.1100,-87.9567,205.7,Champaign County,61859,Ogden,IL,
12,USC00185934,AWND,42.654162,39.7194,-76.8028,262.1,Carroll County,21102,Millers,MD,

In [342]:
# Replace the nan address data from https://www.latlong.net/Show-Latitude-Longitude.html
suitable_winds_pop= suitable_winds

In [343]:
# Check nan value in Zipcode column
suitable_winds_pop[suitable_winds_pop['Zipcode']=='nan']

,ID,Element,Value,Latitude,Longitude,Elevation,County,Zipcode,City,State,Population
229,USW00004134,AWND,37.353627,40.1606,-113.3508,1310.6,Tooele County,nan,,UT,
358,USW00012923,AWND,49.435039,29.2733,-94.8592,1.5,Galveston County,nan,Galveston,TX,
820,USW00014829,AWND,39.322855,41.5272,-85.7922,252.1,Elkhart County,nan,Goshen,IN,
981,USW00021508,AWND,41.022626,19.7600,-155.5536,1798.3,Hawaii County,nan,Camp Pohakuloa,HI,
1473,USW00053145,AWND,41.545163,37.6172,-116.2642,1755.6,Nye County,nan,,NV,
1883,USW00094724,AWND,45.616819,41.3931,-70.6150,20.7,Dukes County,nan,West Tisbury,MA,

In [346]:
# not valid US zip code and delete the rows
suitable_winds_pop.loc[229,"Zipcode"]="47800"
suitable_winds_pop.loc[358,"Zipcode"]="77554"
suitable_winds_pop.loc[820,"Zipcode"]="47800"
suitable_winds_pop.loc[981,"Zipcode"]="47800"
suitable_winds_pop.loc[1473,"Zipcode"]="47800"
suitable_winds_pop = suitable_winds_pop.drop([229,358,820,981])
# Valid zip code
suitable_winds_pop.loc[1883,"Zipcode"]="02568"

In [347]:
len(suitable_winds_pop)

(444, 11)

In [354]:
# import population data as dataframe
population_by_zipcode_df = pd.read_csv('pop-by-zip-code.csv')
population_by_zipcode_df.head()

   zip_code  y-2016  y-2015  y-2014  y-2013  y-2012  y-2011  y-2010  aggregate
0       601   17800   17982   18088   18450   18544   18533   18570     127967
1       602   39716   40260   40859   41302   41640   41930   41520     287227
2       603   51565   52408   53162   53683   54540   54475   54689     374522
3       606    6320    6331    6415    6591    6593    6386    6615      45251
4       610   27976   28328   28805   28963   29141   29111   29016     201340

In [355]:
population_2016_df = population_by_zipcode_df[["zip_code","y-2016"]] .rename(columns={'zip_code':"Zipcode","y-2016": "population_2016"})                                                   
population_2016_df. head()

   Zipcode  population_2016
0      601            17800
1      602            39716
2      603            51565
3      606             6320
4      610            27976

In [357]:
# merge "population_2016_df into population_by_zipcode_df
population_by_zipcode_df = population_by_zipcode_df.merge(population_2016_df, by="Zipcode", how='left')

TypeError: merge() got an unexpected keyword argument 'by'

In [315]:
suitable_winds['Zipcode'] = suitable_winds['Zipcode'].apply(lambda x: x.strip(","))

suitable_winds[suitable_winds['Latitude']==38.049399999999935]

,ID,Element,Value,Latitude,Longitude,Elevation,County,Zipcode,City,State,Population
1065,USW00023067,AWND,44.688614,38.0494,-103.5122,1278.3,Otero County,81050,La Junta,CO,

In [316]:
suitable_winds['Zipcode'] = suitable_winds['Zipcode'].map('{:,.0f}'.format)

ValueError: Unknown format code 'f' for object of type 'str'

In [ ]:
# merge "suitable_winds" and "population_2016_df" on zipcode
suitable_winds_popb= suitable_winds.merge(population_2016_df,on='Zipcode', how= 'left')

In [ ]:
for i, row in population_by_zipcode_df.iterrows():
    population_by_zipcode_df.loc[i, "zip_code"] = ("000"+ f'{row["zip_code"]}')[-6:] 

# We only use the population data in 2016 and display the first five rows       
population_2016_df = population_by_zipcode_df[["zip_code","y-2016"]] .rename(columns={'zip_code':"Zipcode"})                                                   
population_2016_df. head()

In [ ]:
# save the population data
population_2016_df.to_csv("population_2016.csv",index=False)

In [ ]:
suitable_winds_2_df= pd.read_csv('suitable_winds_2.csv')
suitable_winds_2_df.head()

In [ ]:
suitable_winds_2_df['Zipcode'].max()

In [ ]:
# merge "suitable_winds" and "population_2016_df" on zipcode

In [ ]:
# We only use the population data in 2016

In [ ]:
population_by_zipcode_df.loc[i,"zip_code"]= ("000" + str(row["zip_code"]))[-6:]

In [ ]:
population_by_zipcode_df["zip_code"] = population_by_zipcode_df["zip_code"].astype(str)

In [ ]:
# Change 3-dig or 4-dig zip code to 6-dig zip code
for index , row in population_by_zipcode_df.iterrows():
    if row['zip_code']<1000:
        population_by_zipcode_df.loc[index, "zip_code"] = int('000'+ str(row['zip_code']))
    elif row['zip_code']<10000:
        population_by_zipcode_df.loc[index, "zip_code"] = int('00'+ str(row['zip_code']))
    elif row['zip_code']<100000:
        population_by_zipcode_df.loc[index, "zip_code"] = int('0'+ str(row['zip_code']))

In [ ]:
population_by_zipcode_df['zip_code'].astype(str)

In [ ]:
population_by_zipcode_df["zip_code"] = population_by_zipcode_df["zip_code"].apply(lambda x: x[-6:])

In [ ]:
# Researchers have suggested that for residential wind turbines 150 meters away from nearby obstructions is enough.

In [ ]:
list1 = list(datalist[0].values())[0]
list1

In [ ]:
for i in list1:
    for j in i.values():
        if j==['postal_code']:
            print( i['long_name'] )

In [ ]:
list(datalist[1].values())[0]

In [ ]:
datalist[0].values()[0]

In [ ]:
datalist[1].values()

In [ ]:
datalist[2].values()

In [ ]:
datalist[3].values()

In [ ]:
df77=pd.DataFrame(datalist)
df77

In [ ]:
suitable_winds.head()

In [ ]:
{'results': [{'address_components':
              [{'long_name': 'Boise', 'short_name': 'Boise', 'types': ['locality', 'political']},
               {'long_name': 'Ada County', 'short_name': 'Ada County', 'types': ['administrative_area_level_2', 'political']}, 
               {'long_name': 'Idaho', 'short_name': 'ID', 'types': ['administrative_area_level_1', 'political']},
               {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}],
              'formatted_address': 'Boise, ID, USA', 'geometry': {'bounds': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 
                                                                             'southwest': {'lat': 43.511717, 'lng': -116.3658869}}, 
                'location': {'lat': 43.6150186, 'lng': -116.2023137}, 
                'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 43.6898951, 'lng': -116.1019091}, 
                                                             'southwest': {'lat': 43.511717, 'lng': -116.3658869}}}, 'place_id': 'ChIJnbRH6XLxrlQRm51nNpuYW5o', 'types': ['locality', 'political']}],
 'status': 'OK'}

In [ ]:
suitable_winds.loc[index, "County"] = suitable_winds_lat_lng["results"][0]['address_components'][2]['long_name']
            suitable_winds.loc[index, "Location Type"] = suitable_winds_lat_lng["results"][0]['address_components'][2]['types'][0]
            suitable_winds.loc[index, "City"] = suitable_winds_lat_lng["results"][0]['address_components'][1]['long_name']
            suitable_winds.loc[index, "State"] = suitable_winds_lat_lng["results"][0]['address_components'][3]['short_name']